/*  
 * @description: 公用css 
 * @author: name  
 * @update: 2018-01-08 
 */

/*****颜色*****/
$bg: #242933;   //整个背景
$fontBlue: #7a8599;  //蓝色字体
$fontBlueTitle: #a3b1cc;  //标题蓝色字体
$lightBlue:#363d4d;   //浅蓝色
$titleBlue: #2d3340;  //蓝色标题背景
$black: #12141a;   //下划线
$blue: #00a1f2;    
$red: #ff4c4c;
$orange: #ff5533;
$yellow: #ffd400;
$white: #ffffff;
$green: #12b362;

/*****字体*****/
$fs24: 0.24rem;
$fs28: 0.28rem;
$fs32: 0.32rem;
$fs40: 0.40rem;
/*****字体*****/
$yh: "\5FAE\8F6F\96C5\9ED1"; /*微软雅黑*/
$st: "\5B8B\4F53"; /*宋体*/
$ht: "\9ED1\4F53"; /*黑体*/
$arial: Arial;

/*****宽度*****/
$w: 7.5rem;

/*****排版*****/
.clear{
    clear: both;
}
.fl{ 
    float: left;
}
.fr{ 
    float: right;
}

/*****按钮*****/
.icon{
    display: inline-block;
    overflow: hidden;
}

/*****遮罩*****/
.bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: #000;
    opacity: 0.5;
}

