.mint-msgbox{
    background-color: #242933;
    width: 80%;
    height: 3.4rem;
    border-radius: 0.1rem;
}
.mint-msgbox-title{
    color: #a3b1cc;
    font-size: 0.28rem;
}
.mint-msgbox-header{
    border-bottom: 1px solid #12141a;
    height: 0.9rem;
    line-height: 0.9rem;
    padding: 0;
}
.mint-msgbox-content{
    height: 1.6rem;
    border-bottom: 1px solid #12141a ;
    font-size: 0.24rem;
}
.mint-msgbox-message{
    color: white;
}
.mint-msgbox-btns{
    height: 0.9rem;
}
.mint-msgbox-cancel {
    background-color: #363d4d;
    border-right: 1px solid #12141a;
    color: white;
}
.mint-msgbox-confirm {
    background-color: #ff5533;
    color: white;
}
//以上部分为取消确认框
#range{
    width: 6.3rem;
    margin: auto;
    z-index: 100;
}
#range1{
    width: 6.3rem;
    margin: auto;
    z-index: 100;
}
#range .mt-range-progress{
    background-color: #ffd400;
    border-radius: 0.1rem 0 0 0.1rem;
}
.mt-range-runway{
    border-top-color: #171a20;
    border-bottom-color: 1px solid #ffd400;
    border-radius: 0 0.1rem 0.1rem 0;
}
#range .mt-range-thumb{
    background: url(../images/tradeApply_01.png);
    background-size: 100% 100%;
    width: 0.56rem;
    height: 0.56rem;
    display: block;
}
#range1 .mt-range-progress{
    border-radius: 0.1rem 0 0 0.1rem;
}
#range1 .mt-range-thumb{
    background: url(../images/tradeApply_02.png);
    background-size: 100% 100%;
     width: 0.56rem;
    height: 0.56rem;
    display: block;
}
//客服弹出
 #btmTop .mint-actionsheet-listitem{
    
    &:nth-child(1){
        border-bottom: none;
    }
}

//tabbar
#tabbar .mint-tabbar{
    border-top: 1px solid #12141a ;
   height: 1rem;
}
